
  <body class="vertical  dark  ">
    <div class="wrapper">
    <%= render 'layouts/managerTopNavbar' %>
    <%= render 'layouts/managerSideNavbar' %>

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="h3 mb-3 page-title">Deals</h2>
              <div class="row mb-4 items-align-center">
                <div class="col-md">
                  <ul class="nav nav-pills justify-content-start">
                    <li class="nav-item">
                      <a class="nav-link active bg-transparent pr-2 pl-0 text-primary" href="#">All <span class="badge badge-pill bg-primary text-white ml-2"><%= @deals.count %></span></a>
                    </li>
                    <div class="form-inline ml-auto searchform text-muted">
                      <%= search_form_for @q do |f| %>
                        <%= f.search_field :name_cont, class: "form-control mr-sm-2 bg-transparent border<-0 pl-4 text-muted", placeholder: "Search!"%>
                      <% end %>
                    </div>
                  </ul>
                </div>
              </div>
              <table class="table border table-hover bg-white">
                <thead>
                  <tr role="row">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                <% @deals.each do |deal| %>
                  <tr>
                    <td><%= deal.id %></td>
                    <td><%= link_to deal.name, deal_path(deal) %></td>
                    <td><%= deal.price %></td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <%= link_to "Edit", edit_deal_path(deal), class: "dropdown-item"%>
                          <%= button_to 'Delete', deal_path(deal), class: "dropdown-item",  method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <nav aria-label="Table Paging" class="my-3">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
    </div> <!-- .wrapper -->
      <%= render 'layouts/scriptsAdd' %>
  </body>
</html>